<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Event App</title>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpynIiwgGhE3CGLN3ZxuFtJkhzgHMWJN0&libraries=places"
        async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <!--<link rel="stylesheet" type="text/css" href="style.css" >-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	    <script type="text/javascript" src="/javascripts/directives/autocomplete.js"></script>        
        <!--<script src="angular.js"></script>-->
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dashboard-controller.js"></script> 
        <script type="text/javascript" src="/javascripts/controllers/login-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/org-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/nav-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/create-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/event-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/search-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/event-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/org-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/uni-service.js"></script>
        <link rel="stylesheet" href="/javascripts/directives/autocomplete.css">
        <link rel="stylesheet" type="text/css" href="/css/datetimepicker.css"/ >
        <script src="/javascripts/misc/jquery.min.js"></script>
        <script src="/javascripts/misc/datetimepicker.min.js"></script>
        <style>
            #map{
                height:500px;
                width: 35%;
            }
             #infowindow-content .title {
                font-weight: bold;
            }

            #infowindow-content {
                display: none;
            }
            
            #map #infowindow-content {
                display: inline;
            }

            #title {
                color: #fff;
                background-color: #4d90fe;
                font-size: 25px;
                font-weight: 500;
                padding: 6px 12px;
            }
            #target {
                width: 345px;
            }
            .orglisting{
                cursor:pointer;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div ng-controller="NavCtrl" class="topnav" id="myTopnav">
                 <h4 style="float: left; padding-top: 10px;">Database Event Website</h4>
                 <button style="float: right" type="button" ng-click="createEvent()" class="btn btn-primary">CREATE EVENT</button>         
                 <ul class="nav nav-pills" style="float: right">
                    <li><a  href="/dashboard" target="_self">Home</a></li>
                    <li><a  href="/search" target="_self">Search</a></li>
                    <li><a  href="#about" target="_self">About</a></li>
                    <li><h4 type="button" class="btn" ng-click="logout()">Logout</h4> </li>
                 </ul>          
            </div>
        </nav>
        
        <div class="card" ng-controller="DashCtrl" ng-init="init()">
            <div class="card-header"><h2>Hi, {{name}}</h2></div> 
            <div class="list-group-item" ng-repeat="org in orgs">  
                <div ng-click="selectOrg(org)">
                    <h4 class="card-title orglisting" id="rso"><p style="color:darkblue" id="rso" >{{org.name}}</p></h4>
                    <div class="card-text"><p>{{org.description}}</p></div>   
                </div>
            </div>
        </div>

        <div ng-controller="CreateCtrl">
            <!--<input type="text" g-places-autocomplete ng-model="place" /><button type="button" ng-click="updateMap()">Set Location</button>-->
            <div id="map"></div>
            <div class="createOrg">
                <div class="card-header">Create an Organization</div>
               
                <form>
                    <label class="list-group-item">RSO Name: <input type="text" ng-model="rso.name" style="width:45%"/></label>
                    <label class="list-group-item">Description of RSO: <textarea ng-model="rso.description" style="width:45%; height:4em"></textarea></label>
                    <label class="list-group-item">Admin Email: <input type="text" id="adminemail" ng-model="rso.adminEmail" style="width:45%" /></label>
                    <label class="list-group-item">Student Emails (separated by ';') (Minimum of 5 with same domain (ie knights.ucf.edu)): <textarea type="text" ng-model="rso.studentEmails" style="width:45%; height:4em;"></textarea></label>
                    <div class="card-footer" style="text-align: center">
                        <input type="button" ng-click="resetOrg()" value="Reset" />
                        <input type="submit" ng-click="saveOrg(rso)" value="Save" />
                    </div>   
                </form>
            </div>
            <br>
            <br>

            <!--<div class="createEvent">
                <div class="card-header">Create an Event</div>
                <form>
                    <label class="list-group-item">Name: <input type="text" ng-model="event.name" /></label>
                    <label class="list-group-item">Start Date/Time: <input id="datetimepicker" type="datetime" ng-model="event.datetime"/></label>
                    <label class="list-group-item">End Date/Time: <input id="datetimepicker2" type="datetime" ng-model="event.enddatetime"/></label>
                    <label class="list-group-item">Location: Set automatically from map above.</label>
                    <label class="list-group-item">Description: <textarea type="text" ng-model="event.description" style="width:30%; height:10em" ></textarea></label>
                    <label class="list-group-item">Contact Email: <input type="text" ng-model="event.contactEmail" /></label>
                    <label class="list-group-item">This Event is Public (Anyone can see it) <input type="checkbox" ng-model="event.isPublic"/></label>
                    <div class="card-footer" style="text-align: center">
                        <input type="button" ng-click="resetEvent()" value="Reset" />
                        <input type="submit" ng-click="saveEvent(event)" value="Save" />
                   </div>
                </form>
            </div>-->
            
            <br>
            <br>

            <!--<div class="createUni">
                <div class="card-header">Create a University Profile</div>
                
                <form>
                    <label class="list-group-item">Name: <input type="text" ng-model="uni.name" /></label>
                    <label class="list-group-item">Location: Set automatically from map above.<input type="text" ng-model="uni.location" />--></label>
                    <!--<label class="list-group-item">Description: <input type="text" ng-model="uni.description" /></label>     
                    <label class="list-group-item">Number of Students: <input type="text" ng-model="uni.numStudents" /></label>
                    <div class="card-footer" style="text-align: center">
                        <input type="button" ng-click="resetUni()" value="Reset" />
                        <input type="submit" ng-click="saveUni(uni)" value="Save" />
                    </div>
                </form>
            </div>         -->
        </div>
        
        <br>
        <br>
        <style>
            #rso:hover{
                color:blue;
            }
        </style>
        
        <br>
        <script type="text/javascript">
            $.datetimepicker.setLocale('en');
            jQuery('#datetimepicker').datetimepicker();
            jQuery('#datetimepicker2').datetimepicker();
        </script>
    </body>
</html>

