<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Event App</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpynIiwgGhE3CGLN3ZxuFtJkhzgHMWJN0&libraries=places"
    async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="style.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <!--<script src="angular.js"></script>-->
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dashboard-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/org-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/nav-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/create-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/event-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/search-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/event-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/org-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/uni-service.js"></script>
	 <script type="text/javascript" src="/javascripts/directives/autocomplete.js"></script>
        <link rel="stylesheet" href="/javascripts/directives/autocomplete.css">
        <style>
            #map{
                height:500px;
                width: 100%;
            }
             #infowindow-content .title {
                font-weight: bold;
            }

            #infowindow-content {
                display: none;
            }
            
            #map #infowindow-content {
                display: inline;
            }

            #title {
                color: #fff;
                background-color: #4d90fe;
                font-size: 25px;
                font-weight: 500;
                padding: 6px 12px;
            }
            #target {
                width: 345px;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div ng-controller="NavCtrl" class="topnav" id="myTopnav">
                 <h4 style="float: left; padding-top: 10px;">Database Event Website</h4>
                 <button style="float: right" type="button" class="btn btn-primary">CREATE</button>         
                 <ul class="nav nav-pills" style="float: right">
                    <li><a  href="/dashboard">Home</a></li>
                    <li><a  href="/search">Search</a></li>
                    <li><a  href="#about">About</a></li>  
                 </ul>          
            </div>
        </nav>
        

        <div ng-controller="CreateCtrl" ng-init="init()">
            <input type="text" g-places-autocomplete ng-model="place" /><button type="button" ng-click="updateMap()">Set Location</button>
            <div id="map"></div>
            <div class="createOrg" ng-show="isUser || isAdmin">
                <div class="card-header">Create an Organization</div>
               
                <form>
                    <label style="padding-left: 80px;" class="list-group-item">Name: <input type="text" ng-model="rso.name" /></label>
                    <label style="padding-left: 30px;" class="list-group-item">Admin Email: <input type="text" ng-model="rso.adminEmail" /></label>
                    <label class="list-group-item">Student Email: <input type="text" ng-model="rso.studentEmail1" /></label>
                    <label class="list-group-item">Student Email: <input type="text" ng-model="rso.studentEmail2" /></label>
                    <label class="list-group-item">Student Email: <input type="text" ng-model="rso.studentEmail3" /></label>
                    <label class="list-group-item">Student Email: <input type="text" ng-model="rso.studentEmail4" /></label>
                    <label class="list-group-item">Student Email: <input type="text" ng-model="rso.studentEmail5" /></label>
                    <div class="card-footer" style="text-align: center">
                        <input type="button" ng-click="resetOrg()" value="Reset" />
                        <input type="submit" ng-click="saveOrg(rso)" value="Save" />
                    </div>   
                </form>
            </div>
            <br>
            <br>

            <div class="createEvent" ng-show="isAdmin">
                <div class="card-header">Create an Event</div>
                <form>
                    <label class="list-group-item">Name: <input type="text" ng-model="event.name" /></label>
                    <label class="list-group-item">Location: <input type="text" ng-model="place.name" /></label>
                    <label class="list-group-item">Description: <input type="text" ng-model="event.description" /></label>
                    <label class="list-group-item">Contact Email: <input type="text" ng-model="event.contactEmail" /></label>
                    <div class="card-footer" style="text-align: center">
                        <input type="button" ng-click="resetEvent()" value="Reset" />
                        <input type="submit" ng-click="saveEvent(event)" value="Save" />
                   </div>
                </form>
            </div>
            
            <br>
            <br>

            <div class="createUni" ng-show="isSuperAdmin">
                <div class="card-header">Create a University Profile</div>
                
                <form>
                    <label class="list-group-item">Name: <input type="text" ng-model="uni.name" /></label>
                    <label class="list-group-item">Location: <input type="text" ng-model="place.formatted_address" /></label>
                    <label class="list-group-item">Description: <input type="text" ng-model="uni.description" /></label>     
                    <label class="list-group-item">Number of Students: <input type="text" ng-model="uni.numStudents" /></label>
                    <div class="card-footer" style="text-align: center">
                        <input type="button" ng-click="resetUni()" value="Reset" />
                        <input type="submit" ng-click="saveUni(uni)" value="Save" />
                    </div>
                </form>
            </div>         
        </div>
        
        <br>
        <br>

        <div class="card" ng-controller="DashCtrl" ng-init="init()">
            <div class="card-header"><h2>Hi, {{name}}</h2></div> 
            <div class="list-group-item" ng-repeat="org in orgs">  
                    <h4 class="card-title"><p ng-click="selectOrg(org)">{{org.name}}</p></h4>
                    <div class="card-text"><p>{{org.description}}</p></div>   
            </div>
        </div>
        <br>
    </body>
</html>
