<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Event App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dashboard-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/org-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/nav-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/create-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/event-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/login-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/search-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/event-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/org-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/uni-service.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/directives/autocomplete.js"></script>
        <link rel="stylesheet" href="/javascripts/directives/autocomplete.css">
    </head>
    <body>
        <!--<script type="text/javscript">
            user.type = 3;
        </script>-->
        <div ng-controller="LoginCtrl">
            <div ng-if="errorMessage">{{errorMessage}}</div>
            <div ng-if="errorMessage"><input type="submit" ng-click="loginPage()" value="Back to Login Page"/></div>
            <label>First Name: <input type="text" ng-model="user.fName" /></label><br />
            <label>Last Name: <input type="text" ng-model="user.lName" /></label><br />
            <!--<label>University: <input type="text" ng-model="user.uni" /></label><br />-->
            <label>Username: <input type="text" ng-model="user.username" /></label><br />
            <label>Password: <input type="password" ng-model="user.password" /></label><br />
            <select ng-model="user.university" ng>
                <option ng-repeat="uni in universities" ng-value="uni.universityID">{{uni.universityName}}</option>
            </select>
            <input type="submit" ng-click="createUser(user)" value="Sign up" />
        </div>
        
    </body>

</html>