<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Event App</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="style.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dashboard-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/org-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/nav-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/create-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/event-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/login-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/search-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/event-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/org-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/uni-service.js"></script>
	<script type="text/javascript" src="/javascripts/directives/autocomplete.js"></script>
        <link rel="stylesheet" href="/javascripts/directives/autocomplete.css">
    </head>
    <body>
        <nav style="margin-bottom: 0; padding-bottom: 0;" class="navbar navbar-default">
            <div ng-controller="NavCtrl" class="topnav" id="myTopnav">
                 <h4 style="float: left; padding-top: 10px;">Database Event Website</h4>
                 <ul class="nav nav-pills" style="float: right">
                    <li><a  href="/dashboard">Home</a></li>
                    <li><a  href="/search">Search</a></li>
                    <li><a  href="#about">About</a></li>  
                 </ul>          
            </div>
        </nav>
       
        <div  class="card" ng-controller="LoginCtrl">
            <br>
             <div style="margin-left: 500px">
                <label  >First Name: <input style="width: 350px" type="text" ng-model="user.fName" /></label>
                <br>
                <label >Last Name: <input style="width: 350px" type="text" ng-model="user.lName" /></label>
                <br>
                <label >University: <input style="width: 350px" type="text" ng-model="user.uni" /></label>
                <br>
                <label >Username: <input style="width: 350px" type="text" ng-model="user.username" /></label>
                <br>
                <label >Password: <input style="width: 350px" type="password" ng-model="user.password" /></label>
                
            </div>
            <br>
            <div class="card-footer" style="text-align: center">
                <input class="btn btn-primary" type="submit" ng-click="createUser(user)" value="Save" />
            </div>
            
        </div>
        
    </body>

    
</html>
